<%- include("partials/header") %> 
<div class="spacing"></div>
<div class="website">

<h1>Posts</h1>


<section class="tiny">
    <div class="blog">
        <% for (year of years) { %> 
            <h2><%= year.year %></h2>
            <ul>
            <li>
            <% for (month of year.months) { %>
                <h3><%= month.month %></h3>
                <ul>
                <% for (post of month.posts) { %>
                    <li><% if(admin) { %><span class="fontawesome"><a href="/compose/<%= post.url %>"><i class="fas fa-pen"></i></a></span>
                        <form action="/compose/<%= post.url %>" method="POST" class="homeform">
                            <% if(post.published) { %><button name="unpublish" value="true" type="submit"><i class="fas fa-angle-left"></i></button><% } else { %><button name="publish" value="true" type="submit"><i class="fas fa-angle-right"></i></button><% } %> 
                        </form>
                        <% } %> <a href="/posts/<%= post.url %>"><%= post.title %></a></li>
                <% } %> 
                </ul>
            <% } %>
            </ul> 
            </li>
        <% } %> 
    </div>
</section>


<%- include("partials/footer") %> 