<%- include("partials/header") %> 

<div class="spacing"></div>
<div class="website">

<h1>Compose</h1>

<section>
    <div class="compose">
        <section>
            <form action="/compose/<%= post.url %>" method="post">
                <div>
                    <div>
                        <label for="title">Title</label>
                        <input type="text" name="title" value="<%= post.title ? post.title : "" %>" placeholder="An awesome title">
                    </div>
                    <div>
                        <label for="img">Header Image Url</label>
                        <input type="text" name="img" value="<%= post.img ? post.img : "" %>" placeholder="Header image url (optional)">
                    </div>
                </div>
                <hr>
                <div>
                    <label for="message">Post</label>
                    <div class="grow-wrap">
                        <textarea name="message" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Start typing here"><%= post.body ? post.body : "" %></textarea>
                        <div class="helper" onInput="this.value = this.parentNode.dataset.replicatedValue"><%= post.body ? post.body.replace(/\\/g, "\\\\") : "" %></div> 
                    </div>
                    
                </div>
                <div class="btn">
                    <button name="publish" value="true" type="submit">Publish</button>
                    <button name="save" value="true" type="submit">Save</button>
                    <button name="unpublish" value="true" type="submit">Unpublish</button>
                </div>
            </form>
        </section>
        <section>
            <div class="preview">
                <h3>Preview:</h3>
                <%- html %>
            </div>
        </section>
    </div>
</section>
<%- include("partials/footer") %> 