<%- include("partials/header") %> 

<h1>Welcome<%= name ? ", " + name : "" %>!</h1>

<section class="tiny">
    <div>
        <div class="loginlinks">
        <% if(admin) { %> 
            <a href="/compose">New Post</a>
            •
        <% } %>
        <% if(name) { %>
            <a href="/logout">Log Out</a>
        <% } %>
        </div>
        <% posts.forEach(post => { %>
            <h3><%= post.title %> <% if(admin) { %><span class="fontawesome"><a href="/compose/<%= post.url %>"><i class="fas fa-pen"></i></a></span><% } %></h3>
            <p><%- post.body.split("<")[0].slice(0, 100) + (post.body.length > 100 ? "..." : "") %> <a href="/posts/<%= post.url %>"><%= post.body.length > 100 ? "Read more" : "Go to post" %></a></p>
        <% }); %>
    </div>
</section>

<%- include("partials/footer") %> 