<%- include("partials/header") %> 

<h1>Welcome<%= name ? ", " + name : "" %>!</h1>

<section class="tiny">
    <div>
        <div class="loginlinks">
        <% if(admin) { %> 
            <a href="/compose">New Post</a>
            •
        <% } %>
        <% if(name) { %>
            <a href="/logout">Log Out</a>
        <% } %>
        </div>
        <% posts.forEach(post => { %>
            <div class="card">
                <h3>
                    <%= post.title %> <% if(admin) { %><span class="fontawesome"><a href="/compose/<%= post.url %>"><i class="fas fa-pen"></i></a></span>
                    <form action="/compose/<%= post.url %>" method="POST" class="homeform">
                        <% if(post.published) { %><button name="unpublish" value="true" type="submit"><i class="fas fa-angle-left"></i></button><% } else { %><button name="publish" value="true" type="submit"><i class="fas fa-angle-right"></i></button><% } %> 
                    </form>
                    <% } %>
                </h3>
                <p><%- post.body.split("<")[1].slice(2, 100) + (post.body.length > 100 ? "..." : "") %> <a href="/posts/<%= post.url %>"><%= post.body.length > 100 ? "Read more" : "Go to post" %> <i class="fas fa-arrow-circle-right"></i></a></p>
            </div>
        <% }); %>
    </div>
</section>

<%- include("partials/footer") %> 