<%- include("../partials/cjlh/header.ejs") %> 

<section>
    <h2>Staff</h2>

    <hr>

    <div>
        <% for(element of about) { %> 
            <%- element %>
        <% } %> 
    </div>

    <p>We blog at <a href="/">coffee-and-sleep.herokuapp.com</a>!</p>

    <hr>

    <h2>Sponsors</h2>

    <div class="sponsors">
        <% for(sponsor of sponsors) { %> 
            <div>
                <img src="/img/cjlh/sponsors/<%= sponsor.img %>" alt="">
                <p><%= sponsor.name %></p>
            </div>
        <% } %> 
    </div>
</section>

<%- include("../partials/cjlh/footer.ejs") %> 